/*-------------------------------- Section 01 -----------------------------*/

/* Part 1 --- NavBar */
nav {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    font-family: $sub-font;
    /* Position */
    position: absolute;
    left: 8%;
    width: 90%;
    margin-bottom: 1.9rem;
    margin-top: 1rem;

    /* Header _logo */
    .logo {
        max-width: 10%;
        position: absolute;
        margin: 0 auto;
    }

    .center {
        padding-left: 27%;
        margin-left: 10%;

        & :hover {
            border-bottom: 1px solid $body-color;
            color: $body-color;
        }
    }

    .end {
        padding-left: 15%;
        margin-left: -3%;
    }

    .global {
        width: 1.5rem;
        position: absolute;
        margin-top: .5rem;

    }

    .nav-link {
        text-decoration: none;
        display: inline-block;
        padding: 10px 15px;
        color: #fff;
    }


}


/* Part 2 --- Container_Logo & Des. */

.container_1_b {
    background-color: $body-color;
    background-image: url(./assest/Path\ 5.svg);
    background-repeat: no-repeat;
    justify-content: center;
    background-size: contain;

}



.container_1_Description {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    color: $body-color;
    font-family: $sub-font_2;
    padding-top: 20px;

    .sub2_logo {

        justify-content: space-between;
        padding: 1rem;
        height: 20%;
        width: 10%;
    }

    .down_container_logo {
        margin-top: 7%;
        width: 45%;
    }

    h1 {
        top: 30%;
        font-family: $sub-font_2;
        color: $sub-hiding-color2;
        font-size: 50px;
        font-weight: bold;

    }

    p {
        font-family: $main-font-color
    }

    button {
        width: 9rem;
        height: 2rem;
        text-align: center;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        border-color: $body-color;
        font-size: 1rem;
        letter-spacing: 0px;
        color: $sub-hiding-color;
        opacity: 1;
        border-radius: .2rem;
        cursor: none;
    }
}

.logo_center {
    display: flex;
    justify-content: center;
    height: 5rem;
}

/* -- media --- */
@media all and (max-width: 376px) {
    .container_1_b {
        background-image: url(./assest/Path\ 11615.svg);
        justify-content: center;
        width: 100%;
        background-size: 50vh;

        .center {
            display: none;
        }

        .end {
            display: none;
        }
    }
}