@import url(//db.onlinewebfonts.com/c/19a516eaa6ae19744976e313ea5896f4?family=29LT+Bukra+Variable);

// Media Screen size
$gl-ms : "screen and (max-width: 23.5em)"; // up to 360px
$gl-xs : "screen and (max-width: 35.5em)"; // up to 568px
$gl-sm : "screen and (max-width: 48em)"; // max 768px
$gl-md : "screen and (max-width: 64em)"; // max 1024px
$gl-lg : "screen and (max-width: 80em)"; // max 1280px

//Variables :
//-Color
$body-color :rgba(245, 245, 245, 1);
$main-font-color :rgba(255, 255, 255, 1);
$heading-color :rgba(11, 78, 134, 1);

$sub-hiding-color: rgba(11, 39, 71, 1);
$sub-hiding-color2: #F1D9BF;

//-Fonts
$body-font : 'Roboto',
sans-serif;
$sub-font : sans-serif;
$sub-font_2: "29LT Bukra, Bold Italic ";

* {
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0;
}


body {
    background-color: $body-color;
    font-family: $body-font;
    line-height: 1.6;
    scroll-behavior: smooth;
}


/* ---------- Section 1 ------------ */
.container_1 {
    max-width: 100%;
    max-width: 48rem;

    /* Part 1 --- NavBar */
    nav {
        display: flex;
        align-items: stretch;
        justify-content: space-between;
        font-family: $sub-font;
        /* Position */
        position: absolute;
        bottom: 85%;
        left: 5%;
        width: 100%;
        margin: 0 auto;
        margin-bottom: 1.9rem;

        /* Header _logo */
        .logo {
            max-width: 10%;
            position: absolute;
            margin: 0 auto;
        }

        .center {
            padding-left: 27%;
            margin-left: 10%;

            & :hover {
                border-bottom: 1px solid $body-color;
            }
        }

        .end {
            padding-left: 15%;
            margin-left: -3%;
        }

        .global {
            width: 1.5rem;
            position: absolute;
            margin-top: .5rem;

        }

        .nav-link {
            text-decoration: none;
            display: inline-block;
            padding: 10px 15px;
            color: #fff;
        }

    }

}


/* Part 2 --- Container_Logo & Des. */
.nav_down_container {
    width: 100%;
    height: 40.5rem;
}

.down_container_logo {
    position: absolute;
    z-index: 1;
    top: 18%;
    left: 5%;
    max-height: 75%;
    margin: 0 auto;

}

.container_1_Description {
    position: absolute;
    z-index: 1;
    top: 35%;
    left: 50%;
    max-height: 22rem;
    text-align: left;
    padding: 1rem;
    color: $body-color;
    font-family: $sub-font_2;

    h1 {
        top: 30%;
        font-family: $sub-font_2;
        color: $sub-hiding-color2;
    }

    p {
        font-family: $main-font-color
    }

    img {
        width: 2.5rem;
        height: 1rem;
    }

    button {
        width: 9rem;
        height: 2rem;
        text-align: center;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        border-color: $body-color;
        font-size: 1rem;
        letter-spacing: 0px;
        color: $sub-hiding-color;
        opacity: 1;
        border-radius: .2rem;
        cursor: none;


    }
}

/* ---------- Section 2 ------------ */

.container_2 {
    justify-content: center;
    width: 100%;
    height: 30rem;

    h1 {
        padding-top: 10%;
        text-align: center;
        top: 30%;
        font-family: $sub-font_2;
        color: $heading-color;
    }

    p {
        text-align: left;
        padding-left: 10%;

    }

    img {
        padding-left: 47%;
        margin-top: 5%;
    }
}

/* ---------- Section 3 ------------ */
.container_3 {
    width: 100%;
    height: 35rem;
    margin-top: 10%;
}

.grid-container {
    display: grid;
    grid-template-columns: 25% 25% 25%;
    grid-auto-rows: auto;
    color: $heading-color;
    margin-left: 18%;
    max-width: 100%;
    gap: .5%;

}

.grid-item-1 {
    position: relative;
    grid-column-start: span 2;
    align-self: start;
    justify-self: center;

    h5 {
        position: absolute;
        color: $body-color;
        z-index: 2;
        top: 80%;
        left: 5%;
    }

    p {
        position: absolute;
        color: $body-color;
        z-index: 2;
        top: 90%;
        left: 5%;
        font-size: 6px;
    }
}

.Section3_img {
    height: 17rem;
    max-width: 100%;
}

.Section3_img_sub {
    position: absolute;
    z-index: 1;
    margin-left: -60%;
    margin-top: 15%;
}

/* --------------- */
.grid-item-2 {
    position: relative;
    grid-column-start: span 1;
    align-self: start;
    justify-self: center;

    h5 {
        position: absolute;
        color: $body-color;
        z-index: 2;
        top: 80%;
        left: 5%;
    }

    p {
        position: absolute;
        color: $body-color;
        z-index: 2;
        top: 90%;
        left: 5%;
        font-size: 6px;
    }

    .Section3_img_sub {
        position: absolute;
        z-index: 1;
        size: -2rem;
        margin-left: -97%;
        margin-top: -3%;
    }
}


/* --------------- */
.grid-item-3 {
    position: relative;
    grid-column-start: span 1;
    align-self: start;
    justify-self: center;

    h5 {
        position: absolute;
        color: $body-color;
        z-index: 2;
        top: 80%;
        left: 5%;
    }

    p {
        position: absolute;
        color: $body-color;
        z-index: 2;
        top: 90%;
        left: 5%;
        font-size: 6px;
    }


}

/* --------------- */
.grid-item-4 {
    position: relative;
    grid-column-start: span 1;
    align-self: start;
    justify-self: center;

    h5 {
        position: absolute;
        color: $body-color;
        z-index: 2;
        top: 80%;
        left: 5%;
    }

    p {
        position: absolute;
        color: $body-color;
        z-index: 2;
        top: 90%;
        left: 5%;
        font-size: 6px;
    }
}

/* --------------- */
.grid-item-5 {
    position: relative;
    grid-column-start: span 1;
    align-self: start;
    justify-self: center;

    h5 {
        position: absolute;
        color: $body-color;
        z-index: 2;
        top: 80%;
        left: 5%;
    }

    p {
        position: absolute;
        color: $body-color;
        z-index: 2;
        top: 90%;
        left: 5%;
        font-size: 6px;
    }
}

/* ---------- Section 4 ------------ */

.container_4 {
    justify-content: center;
    width: 100%;
    height: 38rem;

    h3 {
        padding-top: 10%;
        text-align: center;
        top: 30%;
        font-family: $sub-hiding-color;
        color: $heading-color;
    }

    p {
        justify-content: center;
        text-align: center;
    }

    img {
        padding-left: 47%;
        margin-top: 5%;
    }
}

// table style

table {
    position: relative;
    background: white;
    border-radius: 6px;
    overflow: hidden;
    max-width: 35rem;
    width: 100%;
    margin: 0 auto;
    box-shadow: 0.1rem 0.5rem 0.99rem #c6c5c5;
    border-radius: .8rem;


    .table {
        border-collapse: separate;
        border-spacing: 0 1rem;
    }

    th {
        border-right: 1px $sub-hiding-color solid;
        padding-top: 2%;
        padding: 5px
    }

    td,
    th {

        padding-bottom: 1em;
        text-align: center;


    }

    thead tr {
        height: 60px;
        background: $heading-color;
        color: $body-color;
        font-family: $sub-font_2;
        border-radius: .8rem;
        box-shadow: 0.1rem 0.5rem 0.99rem #c6c5c5;

    }

    tbody tr {
        height: 48px;
        border-bottom: 1px solid $body-color;
    }

    td,
    th {
        text-align: center;


        h5 {
            text-align: center;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            border-color: $body-color;
            font-size: 1rem;
            letter-spacing: 0px;
            color: $sub-hiding-color;
            margin-top: 4%;
        }

    }
}


@media #{$gl-xs} {
    table {
        display: block;
        justify-content: center;

        tr,
        td,
        th {
            display: block;
        }

        thead {
            display: none
        }

        tbody tr {
            height: auto;
            padding: 8px 0;

            td {
                padding-left: 45%;
                margin-bottom: 12px;
                text-align: center;
                vertical-align: middle;

            }
        }
    }
}