@import url(//db.onlinewebfonts.com/c/19a516eaa6ae19744976e313ea5896f4?family=29LT+Bukra+Variable);
* {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0;
}

body {
  background-color: rgb(245, 245, 245);
  font-family: "Roboto", sans-serif;
  line-height: 1.6;
  scroll-behavior: smooth;
}

/* ---------- Section 1 ------------ */
.container_1 {
  max-width: 100%;
  max-width: 48rem;
  /* Part 1 --- NavBar */
}
.container_1 nav {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  font-family: sans-serif;
  /* Position */
  position: absolute;
  bottom: 85%;
  left: 5%;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 1.9rem;
  /* Header _logo */
}
.container_1 nav .logo {
  max-width: 10%;
  position: absolute;
  margin: 0 auto;
}
.container_1 nav .center {
  padding-left: 27%;
  margin-left: 10%;
}
.container_1 nav .center :hover {
  border-bottom: 1px solid rgb(245, 245, 245);
}
.container_1 nav .end {
  padding-left: 15%;
  margin-left: -3%;
}
.container_1 nav .global {
  width: 1.5rem;
  position: absolute;
  margin-top: 0.5rem;
}
.container_1 nav .nav-link {
  text-decoration: none;
  display: inline-block;
  padding: 10px 15px;
  color: #fff;
}

/* Part 2 --- Container_Logo & Des. */
.nav_down_container {
  width: 100%;
  height: 40.5rem;
}

.down_container_logo {
  position: absolute;
  z-index: 1;
  top: 18%;
  left: 5%;
  max-height: 75%;
  margin: 0 auto;
}

.container_1_Description {
  position: absolute;
  z-index: 1;
  top: 35%;
  left: 50%;
  max-height: 22rem;
  text-align: left;
  padding: 1rem;
  color: rgb(245, 245, 245);
  font-family: "29LT Bukra, Bold Italic ";
}
.container_1_Description h1 {
  top: 30%;
  font-family: "29LT Bukra, Bold Italic ";
  color: #F1D9BF;
}
.container_1_Description p {
  font-family: rgb(255, 255, 255);
}
.container_1_Description img {
  width: 2.5rem;
  height: 1rem;
}
.container_1_Description button {
  width: 9rem;
  height: 2rem;
  text-align: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  border-color: rgb(245, 245, 245);
  font-size: 1rem;
  letter-spacing: 0px;
  color: rgb(11, 39, 71);
  opacity: 1;
  border-radius: 0.2rem;
  cursor: none;
}

/* ---------- Section 2 ------------ */
.container_2 {
  justify-content: center;
  width: 100%;
  height: 30rem;
}
.container_2 h1 {
  padding-top: 10%;
  text-align: center;
  top: 30%;
  font-family: "29LT Bukra, Bold Italic ";
  color: rgb(11, 78, 134);
}
.container_2 p {
  text-align: left;
  padding-left: 10%;
}
.container_2 img {
  padding-left: 47%;
  margin-top: 5%;
}

/* ---------- Section 3 ------------ */
.container_3 {
  width: 100%;
  height: 35rem;
  margin-top: 10%;
}

.grid-container {
  display: grid;
  grid-template-columns: 25% 25% 25%;
  grid-auto-rows: auto;
  color: rgb(11, 78, 134);
  margin-left: 18%;
  max-width: 100%;
  gap: 0.5%;
}

.grid-item-1 {
  position: relative;
  grid-column-start: span 2;
  align-self: start;
  justify-self: center;
}
.grid-item-1 h5 {
  position: absolute;
  color: rgb(245, 245, 245);
  z-index: 2;
  top: 80%;
  left: 5%;
}
.grid-item-1 p {
  position: absolute;
  color: rgb(245, 245, 245);
  z-index: 2;
  top: 90%;
  left: 5%;
  font-size: 6px;
}

.Section3_img {
  height: 17rem;
  max-width: 100%;
}

.Section3_img_sub {
  position: absolute;
  z-index: 1;
  margin-left: -60%;
  margin-top: 15%;
}

/* --------------- */
.grid-item-2 {
  position: relative;
  grid-column-start: span 1;
  align-self: start;
  justify-self: center;
}
.grid-item-2 h5 {
  position: absolute;
  color: rgb(245, 245, 245);
  z-index: 2;
  top: 80%;
  left: 5%;
}
.grid-item-2 p {
  position: absolute;
  color: rgb(245, 245, 245);
  z-index: 2;
  top: 90%;
  left: 5%;
  font-size: 6px;
}
.grid-item-2 .Section3_img_sub {
  position: absolute;
  z-index: 1;
  size: -2rem;
  margin-left: -97%;
  margin-top: -3%;
}

/* --------------- */
.grid-item-3 {
  position: relative;
  grid-column-start: span 1;
  align-self: start;
  justify-self: center;
}
.grid-item-3 h5 {
  position: absolute;
  color: rgb(245, 245, 245);
  z-index: 2;
  top: 80%;
  left: 5%;
}
.grid-item-3 p {
  position: absolute;
  color: rgb(245, 245, 245);
  z-index: 2;
  top: 90%;
  left: 5%;
  font-size: 6px;
}

/* --------------- */
.grid-item-4 {
  position: relative;
  grid-column-start: span 1;
  align-self: start;
  justify-self: center;
}
.grid-item-4 h5 {
  position: absolute;
  color: rgb(245, 245, 245);
  z-index: 2;
  top: 80%;
  left: 5%;
}
.grid-item-4 p {
  position: absolute;
  color: rgb(245, 245, 245);
  z-index: 2;
  top: 90%;
  left: 5%;
  font-size: 6px;
}

/* --------------- */
.grid-item-5 {
  position: relative;
  grid-column-start: span 1;
  align-self: start;
  justify-self: center;
}
.grid-item-5 h5 {
  position: absolute;
  color: rgb(245, 245, 245);
  z-index: 2;
  top: 80%;
  left: 5%;
}
.grid-item-5 p {
  position: absolute;
  color: rgb(245, 245, 245);
  z-index: 2;
  top: 90%;
  left: 5%;
  font-size: 6px;
}

/* ---------- Section 4 ------------ */
.container_4 {
  justify-content: center;
  width: 100%;
  height: 38rem;
}
.container_4 h3 {
  padding-top: 10%;
  text-align: center;
  top: 30%;
  font-family: rgb(11, 39, 71);
  color: rgb(11, 78, 134);
}
.container_4 p {
  justify-content: center;
  text-align: center;
}
.container_4 img {
  padding-left: 47%;
  margin-top: 5%;
}

table {
  position: relative;
  background: white;
  border-radius: 6px;
  overflow: hidden;
  max-width: 35rem;
  width: 100%;
  margin: 0 auto;
  box-shadow: 0.1rem 0.5rem 0.99rem #c6c5c5;
  border-radius: 0.8rem;
}
table .table {
  border-collapse: separate;
  border-spacing: 0 1rem;
}
table th {
  border-right: 1px rgb(11, 39, 71) solid;
  padding-top: 2%;
  padding: 5px;
}
table td,
table th {
  padding-bottom: 1em;
  text-align: center;
}
table thead tr {
  height: 60px;
  background: rgb(11, 78, 134);
  color: rgb(245, 245, 245);
  font-family: "29LT Bukra, Bold Italic ";
  border-radius: 0.8rem;
  box-shadow: 0.1rem 0.5rem 0.99rem #c6c5c5;
}
table tbody tr {
  height: 48px;
  border-bottom: 1px solid rgb(245, 245, 245);
}
table td,
table th {
  text-align: center;
}
table td h5,
table th h5 {
  text-align: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  border-color: rgb(245, 245, 245);
  font-size: 1rem;
  letter-spacing: 0px;
  color: rgb(11, 39, 71);
  margin-top: 4%;
}

@media screen and (max-width: 35.5em) {
  table {
    display: block;
    justify-content: center;
  }
  table tr,
table td,
table th {
    display: block;
  }
  table thead {
    display: none;
  }
  table tbody tr {
    height: auto;
    padding: 8px 0;
  }
  table tbody tr td {
    padding-left: 45%;
    margin-bottom: 12px;
    text-align: center;
    vertical-align: middle;
  }
}/*# sourceMappingURL=style.css.map */