@import url(//db.onlinewebfonts.com/c/19a516eaa6ae19744976e313ea5896f4?family=29LT+Bukra+Variable);

@import "./vars";
@import "./section_1";
@import "./section_2_3";
@import "./section_4";
@import "./section_5_6";
@import "./section_7";
@import "./section_8";
@import "./footer";

* {
    box-sizing: border-box;
    margin: 0 ;
    padding: 0;
}


body {
    background-color: $body-color;
    font-family: $body-font;
    scroll-behavior: smooth;
}

.logo_center{
    background-color: aqua;
}
/* --media --- */
@media screen and (max-width: 600px) {
    body {
        background-color: lightgreen;
      }

}
